a {
  color: $blk;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

// Headings
.heading {
  &--1 {
    @include font-size($h1-font-sizes);
  }
  &--2 {
    @include font-size($h2-font-sizes);
  }
  &--center {
    text-align: center;
  }
  &--brand {
    font-family: $brand-font;
  }
}

// Forms
input {
  width: 400px;
  max-width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px 0;
  @include font-size($p-font-sizes);
}
button {
  width: 100%;
  border: 1px solid black;
  background-color: transparent;
  padding: 14px 0;
  margin-top: 10px;
  cursor: pointer;
  @include font-size($p-font-sizes);
  &:hover,
  &:active,
  &:focus {
    background-color: $wht-30 !important;
  }
}

// layouts
.layout {
  &--flex {
    display: flex;
    height: 100%;
    width: 100%;
  }
  &--centered {
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.page-content {
  width: 100%;
  padding: 40px;
  background-color: $turquoise;

  &.turquoise {
    background-color: $turquoise;
  }

  &.coral {
    background-color: $coral;
  }

  &.orange {
    background-color: $orange;
  }

  &.gold {
    background-color: $gold;
  }

  &.seagreen {
    background-color: $seagreen;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $blk;
  margin-bottom: 40px;

  .page-heading {
    display: flex;
    flex-wrap: wrap;

    h2 {
      width: 100%;
      align-self: flex-end;
      margin-bottom: 18px;
    }
  }

  .profile-pic {
    border: 8px solid $wht-40;
    margin: 0 auto;
  }

  p {
    font-style: italic;
  }

}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
}